:root {
  --branding-color: #e9e9e7;
  --secondary-color: #1a1c35;
  --heading-font-family: "Advent Pro", sans-serif;
  --default-font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: #e6d5c8;
}

h1,
h3,
h4,
h5 {
  color: #e6d5c8;
  font-family: var(--heading-font-family);
  font-weight: thin 100;
}

h1 {
  font-size: 46px;
  line-height: 1.5;
}

h6 {
  color: #e6d5c8;
  font-weight: bold;
  font-size: 46px;
  line-height: 30px;
}

.hero {
  background: url(3.jpg);
  background-position: center;
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #e6d5c8;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.about-section {
  padding: 160px 20px;
}

.about-section h1 {
  color: #1a1c35;
  font-size: 48px;
  line-height: 80px;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.about-section-content {
  margin: 30px;
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-desciption {
  padding: 60px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}
